@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Amatic+SC:wght@400;700&family=Orbitron:wght@400..900&family=Ysabeau+SC:wght@1..1000&display=swap');


:root{
    /*
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
    --cor-terciaria: #495057;
    --cor-quaternaria: #FFFFFF;
    */
    /*
    --cor-primaria: #0D1B2A;
    --cor-secundaria: #415A77;
    --cor-terciaria: #1B263B;
    --cor-quaternaria: #E0E1DD;
    */

    
    --cor-primaria: #1B1725;
    --cor-secundaria: #226CE0;
    --cor-terciaria: #545454;
    --cor-quaternaria: #D0BCD5;
    

    /*
    --cor-primaria: #000000;
    --cor-secundaria: #87BBA2;
    --cor-terciaria: #5D737E;
    --cor-quaternaria: #F0F7EE;
    */

    /*
    --cor-primaria: #705D56;
    --cor-secundaria: #F0F7F4;
    --cor-terciaria: #32292F;
    --cor-quaternaria: #99E1D9;
    --cor-quintenaria: #70ABAF;
    */

    /*
    --cor-primaria: #5C6784;
    --cor-secundaria: #157F1F;
    --cor-terciaria: #1D263B;
    --cor-quaternaria: #4CB963;
    --cor-quintenaria: #A0EADE;
    */

    --fonte1: 'Inter', sans-serif;
    --fonte2: 'Amatic SC', sans-serif;
    --fonte3: 'Orbitron', sans-serif;
    --fonte4: 'Ysabeau SC', sans-serif;
}

body{
    background-color: var(--cor-primaria);
}

.header{
    padding: 3.91vh 2.78vw;
    display: flex;
    gap: 2%;
    align-items: center;
}

.header__logo{
    width: 4.33vw;
}

.header__h1{
    font-family: var(--fonte3);
    color: var(--cor-secundaria);
}

.main{
    display: flex;
    margin: 3vh 4vw;
    justify-content: space-between;
}

.main__content{
    display: flex;
    flex-direction: column;
    padding: 1% 1%;
    width: 47%;
    height: 68vh;
    gap: 1.56vh;
    justify-content: space-between;
}

.main__content--input{
    background-color: var(--cor-primaria);
    border: none;
    outline: none;
    font-family: var(--fonte3);
    font-size: 2rem;
    color: var(--cor-secundaria);
    overflow: hidden;
    resize: none;

}

.main__content--input::placeholder{
    font-family: var(--fonte3);
    color: var(--cor-secundaria);
}

.main__content--text{
    font-size: 0.75rem;
    color: var(--cor-terciaria);
    font-family: var(--fonte1);
    display: flex;
    align-items: center;
    gap: 5px;
}

.main__content--buttons{
    display: flex;
    gap: 1.67vw;
    margin-top: 1.56vh;
    bottom: 0%;
}

.button-criptografar, .button-descriptografar, .button-copiar{
    font-family: var(--fonte2);
    border-radius: 24px;
    font-size: 2rem;
    width: 22.78vw;
    padding: 2.34vh 1.67vw;
    border-radius: 24px;
    border: solid 1px var(--cor-secundaria);
    cursor: pointer;
}

.button-criptografar{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.button-descriptografar{
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.button-copiar{
    display: none; 
    width: 90%;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.button-criptografar:active, .button-descriptografar:active, .button-copiar:active{
    border-color: var(--cor-quaternaria);
    font-weight: 600;
}

.main__sidebar{
    background-color: var(--cor-quaternaria);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 49%;
    height: 68vh;
    padding: 1% 1%;
    border-radius: 32px;
    gap: 1.13vh;
}



.main__sidebar--label{
    display: none;
    text-align: left;
    font-size: 2rem;
    font-family: var(--fonte3);
    color: var(--cor-secundaria);
    width: 90.33%;
    height: 76.27%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--cor-terciaria) transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 1.5s;
}

.main__sidebar--label.show {
    opacity: 1;
    visibility: visible;
}

.main__sidebar--img{
    width: 35.33%;
}

.main__sidebar--messages{
    display: flex;
    flex-direction: column;
    gap: 1.56vh;
    width: 75%;
    font-family: var(--fonte4);
}

.main__message--highlight{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.main__message--secondary{
    font-size: 1rem;
    color: var(--cor-terciaria); 
    text-align: center;
}

.footer{
    text-align: center;
    font-family: var(--fonte3);
    margin-top: 9vh;
    font-size: 0.7rem;
    padding: 5px;
    background-color: var(--cor-secundaria);
    position: fixed;
    width: 100%;
    bottom: 0vw;
    color: var(--cor-primaria);
}

.footer__linkedin-icon{
    width: 1%;
}


@media (max-width: 768px){
    
    .main{
        flex-direction: column;
        gap: 2vh;
        margin: 0vh 4vw;
    }

    .main__content{
        width: 95%;
        height: 40%;
        justify-content: initial;
    }

    .main__content--buttons{
        width: 100%;
        gap: 3.13vw;
    }

    .button-criptografar, .button-descriptografar{
        width: 43.23vw;
    }

    .main__sidebar{
        height: 35%;
        background-color: var(--cor-quaternaria);
        width: 70%;
        padding: 1.23vh 0.5vw;
        display: flex;
        justify-content: space-between;
    }

    .main__sidebar--label{
        font-size: 1.5rem;
    }

    .main__sidebar--img{
        display: none;
    }

}

@media (max-width: 375px){
    
    .header__h1{
        font-size: 1.2rem;
    }


    .main__content--buttons{
        width: 90%;
        gap: 3.13vw;
        flex-direction: column;
    }

    .button-criptografar, .button-descriptografar, .button-copiar{
        width: 91.47vw;
        font-size: 1.5rem;
    }

    .main__sidebar{
        height: 35%;
        margin: 3vh 0vw;
        width: 100%;
        padding: 2.73vh 4.17vw;
        display: flex;
        justify-content: space-between;
    }

    .main__sidebar--label{
        position: relative;
        width: 95%;
        /*height: 40%;*/
    }

    .main__sidebar--img{
        display: none;
    }

}